{
  "openapi": "3.0.3",
  "info": {
    "title": "upAPI",
    "description": "Browser-powered API marketplace. 95 of 95 APIs included (capped at 449 for RapidAPI compatibility).\n\nBilling: a call spends WEIGHTED UNITS against your plan's monthly quota — not a flat one call = one unit. A light HTTP relay costs 1 unit; heavy work costs more, up to 25 (search-engine result pages 25, headless-browser renders and page scrapes 20, residential-proxy social reads 15, LLM completions 10, datacenter social/media reads 4). Every operation declares its own price as `x-upapi-unit-weight`, so a workload can be costed before it is run. Quota state rides on every response in the `RateLimit` / `RateLimit-Policy` headers.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.upapi.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "functionId": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/bbc-news.get": {
      "post": {
        "operationId": "bbc_news_get",
        "summary": "Get BBC News Headlines",
        "description": "Fetch headlines from a BBC section (news / world / business / technology / science-environment / entertainment-arts / sport) via the official BBC RSS feeds. Pure HTTP (no browser). Returns title, article URL, and summary for each headline.",
        "tags": ["Data", "bbc", "news", "headlines", "rss"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "section": {
                    "type": "string",
                    "enum": [
                      "news",
                      "world",
                      "business",
                      "technology",
                      "science-environment",
                      "entertainment-arts",
                      "sport"
                    ],
                    "default": "news",
                    "description": "BBC section slug"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 15,
                    "description": "Max headlines to return"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "section": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "totalCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "headlines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer",
                            "exclusiveMinimum": true,
                            "minimum": 0
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "summary": {
                            "type": "string"
                          }
                        },
                        "required": ["position", "title", "url", "summary"],
                        "additionalProperties": false
                      }
                    },
                    "fetchedAt": {
                      "type": "string"
                    }
                  },
                  "required": ["section", "url", "totalCount", "headlines", "fetchedAt"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/email-read-verification-code.post": {
      "post": {
        "operationId": "email_read_verification_code_post",
        "summary": "Read Email Verification Code",
        "description": "Connect to an IMAP mailbox and extract a verification code from the SUBJECT of a recent email. Polls with retries. Supports Gmail (with App Password), Outlook, and any IMAP server. Generic — works for any platform that puts its code in the subject line; for a token that only appears in the body, use email-read-verification-link.",
        "tags": ["Utility", "email", "verification", "imap", "utility"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imapHost": {
                    "type": "string",
                    "default": "imap.gmail.com",
                    "description": "IMAP server hostname"
                  },
                  "imapPort": {
                    "type": "integer",
                    "default": 993,
                    "description": "IMAP server port"
                  },
                  "imapUser": {
                    "type": "string",
                    "description": "IMAP username (email address)"
                  },
                  "imapPass": {
                    "type": "string",
                    "description": "IMAP password or app password"
                  },
                  "senderFilter": {
                    "type": "string",
                    "description": "Filter emails by sender (e.g. noreply@redditmail.com)"
                  },
                  "recipientFilter": {
                    "type": "string",
                    "description": "Filter by recipient address (useful with catch-all domains)"
                  },
                  "subjectPattern": {
                    "type": "string",
                    "description": "Regex pattern to match subject line"
                  },
                  "codePattern": {
                    "type": "string",
                    "default": "\\b(\\d{6})\\b",
                    "description": "Regex to extract a verification code from the email SUBJECT (the body is not fetched — use email-read-verification-link for body tokens)"
                  },
                  "maxAgeMinutes": {
                    "type": "integer",
                    "default": 15,
                    "description": "Only look at emails received within this many minutes"
                  },
                  "maxRetries": {
                    "type": "integer",
                    "default": 5,
                    "description": "Number of polling attempts"
                  },
                  "retryDelayMs": {
                    "type": "integer",
                    "default": 10000,
                    "description": "Milliseconds between retry attempts"
                  }
                },
                "required": ["imapUser", "imapPass", "senderFilter"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Extracted verification code"
                    },
                    "subject": {
                      "type": "string",
                      "description": "Email subject line"
                    },
                    "from": {
                      "type": "string",
                      "description": "Sender address"
                    },
                    "to": {
                      "type": "string",
                      "description": "Recipient address"
                    },
                    "receivedAt": {
                      "type": "string",
                      "description": "When the email was received"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "elapsedMs": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "code",
                    "subject",
                    "from",
                    "to",
                    "receivedAt",
                    "fetchedAt",
                    "elapsedMs"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/email-read-verification-link.post": {
      "post": {
        "operationId": "email_read_verification_link_post",
        "summary": "Read Email Verification Link",
        "description": "Connect to an IMAP mailbox and extract a link from the BODY of a recent email. Decodes quoted-printable/base64 bodies before matching, so URLs split across lines are returned whole. Polls with retries. Use this for verification mail whose token is a one-time URL rather than a code in the subject.",
        "tags": ["Utility", "email", "verification", "imap", "utility"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imapHost": {
                    "type": "string",
                    "default": "imap.gmail.com",
                    "description": "IMAP server hostname"
                  },
                  "imapPort": {
                    "type": "integer",
                    "default": 993,
                    "description": "IMAP server port"
                  },
                  "imapUser": {
                    "type": "string",
                    "description": "IMAP username (email address)"
                  },
                  "imapPass": {
                    "type": "string",
                    "description": "IMAP password or app password"
                  },
                  "senderFilter": {
                    "type": "string",
                    "description": "Filter emails by sender (e.g. noreply@reddit.com)"
                  },
                  "recipientFilter": {
                    "type": "string",
                    "description": "Filter by recipient address (useful with catch-all domains)"
                  },
                  "subjectPattern": {
                    "type": "string",
                    "description": "Regex matched against the subject, to pick one of several mails from the same sender"
                  },
                  "linkPattern": {
                    "type": "string",
                    "default": "https?://[^\\s\"'<>)\\]]+",
                    "description": "Regex matched against the DECODED body. The first capture group is returned when present, otherwise the whole match. Default matches any http(s) URL."
                  },
                  "maxAgeMinutes": {
                    "type": "integer",
                    "default": 15,
                    "description": "Only look at emails received within this many minutes"
                  },
                  "maxRetries": {
                    "type": "integer",
                    "default": 5,
                    "description": "Number of polling attempts"
                  },
                  "retryDelayMs": {
                    "type": "integer",
                    "default": 10000,
                    "description": "Milliseconds between retry attempts"
                  },
                  "mailboxes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Mailboxes to search, in order. Omit to search INBOX plus whatever the server flags \\All and \\Junk (Gmail: All Mail and Spam) — providers routinely file one-time verification links as junk, and searching INBOX alone reports them as never sent."
                  }
                },
                "required": ["imapUser", "imapPass", "senderFilter"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "First body match — the link to follow"
                    },
                    "allLinks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Every distinct match in the body, in document order"
                    },
                    "subject": {
                      "type": "string",
                      "description": "Email subject line"
                    },
                    "from": {
                      "type": "string",
                      "description": "Sender address"
                    },
                    "to": {
                      "type": "string",
                      "description": "Recipient address"
                    },
                    "receivedAt": {
                      "type": "string",
                      "description": "When the email was received"
                    },
                    "mailbox": {
                      "type": "string",
                      "description": "Which mailbox the hit came from. A link found in Spam is still a valid link, but it tells the caller the provider is filtering this sender."
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "elapsedMs": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "link",
                    "allLinks",
                    "subject",
                    "from",
                    "to",
                    "receivedAt",
                    "mailbox",
                    "fetchedAt",
                    "elapsedMs"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetch-markdown.post": {
      "post": {
        "operationId": "fetch_markdown_post",
        "summary": "Fetch URL as Markdown",
        "description": "Convert any web page into clean, LLM-ready Markdown. Fetches over plain HTTP with browser headers (retrying once through a residential or datacenter proxy when the origin serves a bot wall), removes boilerplate with Mozilla Readability, and converts with GitHub-flavored Markdown tables, lists and code blocks. Article mode is verified against a whole-page conversion and downgrades itself when Readability strips too much, so you are never handed a gutted page. Returns the markdown plus title, byline, language, excerpt, the extracted link list, the final URL after redirects, and which transport served the body. No browser is used, so a client-rendered page is reported as an error rather than as empty content.",
        "tags": [
          "Tools",
          "markdown",
          "html",
          "readability",
          "llm",
          "rag",
          "scraper",
          "content",
          "converter"
        ],
        "x-upapi-unit-weight": 3,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "Absolute http(s) URL of the page to convert (e.g. https://en.wikipedia.org/wiki/Markdown). Private, loopback and link-local destinations are refused."
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["article", "full"],
                    "default": "article",
                    "description": "article = Mozilla Readability main-content extraction, verified against the whole page and auto-downgraded when it strips too much; full = the whole body with nav/footer/aside/form removed (e.g. article)."
                  },
                  "includeLinks": {
                    "type": "boolean",
                    "default": true,
                    "description": "Keep inline [text](url) links in the markdown and return the extracted link list (e.g. true). false unwraps every anchor to plain text."
                  },
                  "includeImages": {
                    "type": "boolean",
                    "default": false,
                    "description": "Keep ![alt](url) image references in the markdown (e.g. false). Images are dropped by default because they cost tokens and rarely help an LLM."
                  },
                  "maxChars": {
                    "type": "integer",
                    "minimum": 500,
                    "maximum": 400000,
                    "default": 100000,
                    "description": "Maximum characters of markdown to return (e.g. 100000). Output is cut at the nearest paragraph/line boundary and `truncated` is set."
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 2000,
                    "maximum": 24000,
                    "default": 20000,
                    "description": "Total network budget in milliseconds across the direct attempt and the one proxied retry (e.g. 20000). Capped below the 28s API-gateway edge timeout."
                  }
                },
                "required": ["url"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "string",
                      "description": "The converted document. Prefixed with the page title as an H1 when the extracted content does not already start with a heading."
                    },
                    "title": {
                      "type": "string",
                      "description": "Page/article title, or an empty string if none was found."
                    },
                    "byline": {
                      "type": "string",
                      "description": "Author line, when Readability or a meta tag exposes one; null otherwise.",
                      "nullable": true
                    },
                    "lang": {
                      "type": "string",
                      "description": "Language tag from <html lang> (e.g. \"en\"); null if absent.",
                      "nullable": true
                    },
                    "excerpt": {
                      "type": "string",
                      "description": "Short summary from Readability or the meta description; null if absent.",
                      "nullable": true
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": ["href", "text"],
                        "additionalProperties": false
                      },
                      "description": "Absolute http(s) links found in the extracted content, capped at 500. Present only when includeLinks is true; reflects the extracted document, which may be longer than a truncated markdown body."
                    },
                    "finalUrl": {
                      "type": "string",
                      "description": "URL actually fetched, after following redirects."
                    },
                    "httpStatus": {
                      "type": "integer",
                      "description": "HTTP status of the response that produced the markdown."
                    },
                    "fetchedWith": {
                      "type": "string",
                      "enum": ["direct", "datacenter", "residential"],
                      "description": "Transport that produced the returned body: direct = straight from the worker; datacenter/residential = the proxy-pool tier used for the retry."
                    },
                    "extractor": {
                      "type": "string",
                      "enum": ["readability", "full-dom"],
                      "description": "Which stage produced the markdown. In article mode this reads \"full-dom\" when Readability failed the content-density check."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "True when the markdown was cut to fit maxChars."
                    },
                    "charCount": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Length of the returned markdown."
                    },
                    "fetchedAt": {
                      "type": "string",
                      "description": "ISO-8601 timestamp of the fetch."
                    }
                  },
                  "required": [
                    "markdown",
                    "title",
                    "byline",
                    "lang",
                    "excerpt",
                    "finalUrl",
                    "httpStatus",
                    "fetchedWith",
                    "extractor",
                    "truncated",
                    "charCount",
                    "fetchedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/github-trending.get": {
      "post": {
        "operationId": "github_trending_get",
        "summary": "Get GitHub Trending Repositories",
        "description": "Fetch the github.com/trending page for the most-starred repos in a time window, optionally filtered by language. Pure HTTP (no browser). Returns full name, URL, description, language, total stars, stars this window, forks.",
        "tags": ["Developer Tools", "github", "trending", "repos", "developer"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 30,
                    "default": "",
                    "description": "Programming language slug (python, rust, typescript, go, …). Empty = any language."
                  },
                  "since": {
                    "type": "string",
                    "enum": ["daily", "weekly", "monthly"],
                    "default": "daily",
                    "description": "Trend window"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 30,
                    "default": 15
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "type": "string"
                    },
                    "since": {
                      "type": "string"
                    },
                    "totalCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "repos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer",
                            "exclusiveMinimum": true,
                            "minimum": 0
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "description": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "totalStars": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "starsToday": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "forks": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "position",
                          "fullName",
                          "url",
                          "description",
                          "language",
                          "totalStars",
                          "starsToday",
                          "forks"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "fetchedAt": {
                      "type": "string"
                    }
                  },
                  "required": ["language", "since", "totalCount", "repos", "fetchedAt"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/html-to-pdf.post": {
      "post": {
        "operationId": "html_to_pdf_post",
        "summary": "Render HTML or URL to PDF",
        "description": "Render a public web page or a raw HTML document to a print-quality PDF with headless Chromium — paper size, orientation, margins, scale and page ranges included. Returns base64 PDF bytes.",
        "tags": ["Tools", "pdf", "html", "browser", "render", "print", "document"],
        "x-upapi-unit-weight": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "Absolute http(s) URL to render (e.g. https://example.com). Mutually exclusive with `html`. URLs resolving to private, loopback, link-local or cloud-metadata addresses are rejected."
                  },
                  "html": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000000,
                    "description": "Raw HTML document to render, up to 2 MB. Mutually exclusive with `url`. Relative asset paths cannot resolve in this mode — use absolute https URLs or inline/data: assets (e.g. <h1>Invoice #42</h1>)."
                  },
                  "format": {
                    "type": "string",
                    "enum": ["A4", "Letter", "Legal"],
                    "default": "A4",
                    "description": "Paper size (e.g. A4)."
                  },
                  "landscape": {
                    "type": "boolean",
                    "default": false,
                    "description": "Print in landscape orientation instead of portrait (e.g. false)."
                  },
                  "margin": {
                    "type": "object",
                    "properties": {
                      "top": {
                        "type": "string",
                        "pattern": "^\\d+(\\.\\d+)?(px|in|cm|mm)?$",
                        "description": "Top margin (e.g. 1in)."
                      },
                      "right": {
                        "$ref": "#/properties/margin/properties/top",
                        "description": "Right margin (e.g. 0.5in)."
                      },
                      "bottom": {
                        "$ref": "#/properties/margin/properties/top",
                        "description": "Bottom margin (e.g. 1in)."
                      },
                      "left": {
                        "$ref": "#/properties/margin/properties/top",
                        "description": "Left margin (e.g. 0.5in)."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Page margins as CSS lengths. Omitted sides default to zero, matching Chromium (e.g. {\"top\":\"1in\",\"bottom\":\"1in\"})."
                  },
                  "printBackground": {
                    "type": "boolean",
                    "default": true,
                    "description": "Render background colours and images. Defaults to true — Chromium defaults this off, which strips the visual design most callers are trying to capture (e.g. true)."
                  },
                  "scale": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 2,
                    "default": 1,
                    "description": "Rendering scale of the webpage, 0.1 to 2 (e.g. 1)."
                  },
                  "pageRanges": {
                    "type": "string",
                    "maxLength": 200,
                    "pattern": "^\\s*\\d+(\\s*-\\s*\\d+)?(\\s*,\\s*\\d+(\\s*-\\s*\\d+)?)*\\s*$",
                    "description": "Pages to include. Omit for the whole document (e.g. 1-5, 8)."
                  },
                  "media": {
                    "type": "string",
                    "enum": ["screen", "print"],
                    "default": "screen",
                    "description": "Which CSS media type to emulate. 'screen' (default) reproduces what a visitor sees; 'print' honours the site's print stylesheet (e.g. screen)."
                  },
                  "waitUntil": {
                    "type": "string",
                    "enum": ["load", "domcontentloaded", "networkidle"],
                    "default": "load",
                    "description": "When rendering counts as done: 'domcontentloaded' is fastest, 'load' waits for subresources, 'networkidle' waits for the network to go quiet (e.g. load)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf": {
                      "type": "string",
                      "description": "Base64-encoded PDF bytes. No `data:` URI prefix — decode directly."
                    },
                    "pages": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "description": "Page count, read from the PDF itself. Omitted when the structure cannot be read with certainty — the PDF is still valid.",
                      "minimum": 0
                    },
                    "bytes": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "description": "Size of the DECODED PDF in bytes (the base64 string is ~4/3 of this).",
                      "minimum": 0
                    }
                  },
                  "required": ["pdf", "bytes"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/screenshot.post": {
      "post": {
        "operationId": "screenshot_post",
        "summary": "Capture Website Screenshot",
        "description": "Render any public web page in headless Chromium and return a PNG or JPEG screenshot as base64 — viewport or full page, with a configurable viewport size, wait strategy and settle delay.",
        "tags": ["Tools", "screenshot", "browser", "render", "image", "capture", "thumbnail"],
        "x-upapi-unit-weight": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "Absolute http(s) URL of the page to capture (e.g. https://example.com). URLs resolving to private, loopback, link-local or cloud-metadata addresses are rejected."
                  },
                  "fullPage": {
                    "type": "boolean",
                    "default": false,
                    "description": "Capture the entire scrollable document instead of just the viewport (e.g. false)."
                  },
                  "format": {
                    "type": "string",
                    "enum": ["png", "jpeg"],
                    "default": "png",
                    "description": "Image encoding: 'png' is lossless and sharper for text; 'jpeg' is far smaller and accepts `quality` (e.g. png)."
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "description": "JPEG encoder quality, 1-100 (default 80). Rejected when format is png, which is lossless (e.g. 80)."
                  },
                  "width": {
                    "type": "integer",
                    "minimum": 320,
                    "maximum": 3840,
                    "default": 1280,
                    "description": "Viewport width in CSS pixels (e.g. 1280)."
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 320,
                    "maximum": 2160,
                    "default": 800,
                    "description": "Viewport height in CSS pixels. Still sets the layout viewport when fullPage is true, but the image then grows to the document height (e.g. 800)."
                  },
                  "waitUntil": {
                    "type": "string",
                    "enum": ["load", "domcontentloaded", "networkidle"],
                    "default": "load",
                    "description": "When navigation counts as done: 'domcontentloaded' is fastest, 'load' waits for subresources, 'networkidle' waits for the network to go quiet and suits lazy-rendered apps (e.g. load)."
                  },
                  "delayMs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5000,
                    "default": 0,
                    "description": "Extra settle time after navigation before the shot, in milliseconds — for animations or late hydration (e.g. 500)."
                  },
                  "blockAds": {
                    "type": "boolean",
                    "default": false,
                    "description": "Abort requests to known ad and tracker hosts before they load, so they cannot appear in the image (e.g. true)."
                  }
                },
                "required": ["url"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": {
                      "type": "string",
                      "description": "Base64-encoded image bytes. No `data:` URI prefix — decode directly."
                    },
                    "format": {
                      "type": "string",
                      "enum": ["png", "jpeg"],
                      "description": "Encoding of the returned image."
                    },
                    "width": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "description": "Image width in pixels.",
                      "minimum": 0
                    },
                    "height": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "description": "Image height in pixels — the full document height when fullPage was true.",
                      "minimum": 0
                    },
                    "bytes": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "description": "Size of the DECODED image in bytes (the base64 string is ~4/3 of this).",
                      "minimum": 0
                    },
                    "finalUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the page actually captured, after any redirects."
                    }
                  },
                  "required": ["image", "format", "width", "height", "bytes", "finalUrl"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/archive-wayback.get": {
      "post": {
        "operationId": "archive_wayback_get",
        "summary": "Wayback Machine Lookup",
        "description": "Find the closest Wayback Machine snapshot of a URL (optionally near a target timestamp). Returns the snapshot URL, its capture timestamp, and HTTP status.",
        "tags": ["Data", "wayback", "archive", "internet-archive", "python"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "url": {
                    "description": "URL to look up in the Wayback Machine",
                    "format": "uri",
                    "maxLength": 2083,
                    "minLength": 1,
                    "title": "Url",
                    "type": "string"
                  },
                  "timestamp": {
                    "default": null,
                    "description": "Optional target time YYYYMMDDhhmmss (partial ok). Omit for the newest snapshot.",
                    "title": "Timestamp",
                    "maxLength": 14,
                    "minLength": 4,
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": ["url"],
                "title": "Input",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "queriedUrl": {
                      "title": "Queriedurl",
                      "type": "string"
                    },
                    "found": {
                      "title": "Found",
                      "type": "boolean"
                    },
                    "closest": {
                      "properties": {
                        "url": {
                          "title": "Url",
                          "type": "string"
                        },
                        "timestamp": {
                          "title": "Timestamp",
                          "type": "string"
                        },
                        "takenAt": {
                          "title": "Takenat",
                          "type": "string"
                        },
                        "status": {
                          "title": "Status",
                          "type": "integer"
                        }
                      },
                      "required": ["url", "timestamp", "takenAt", "status"],
                      "title": "Snapshot",
                      "type": "object"
                    },
                    "fetchedAt": {
                      "title": "Fetchedat",
                      "type": "string"
                    }
                  },
                  "required": ["queriedUrl", "found", "closest", "fetchedAt"],
                  "title": "Output",
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audio-transcribe-result.get": {
      "post": {
        "operationId": "audio_transcribe_result_get",
        "summary": "Get Transcription Result",
        "description": "Fetch the result of a transcription started by audio-transcribe, using its jobId. Returns the finished transcript with time-coded segments, or the current progress while it is still running. Job ids are kept for 24 hours.",
        "tags": ["Media", "audio", "video", "transcribe", "speech", "polling", "job"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "jobId": {
                    "description": "The jobId returned by audio-transcribe (e.g. upapi-3f9c1d2e4b5a…).",
                    "maxLength": 200,
                    "minLength": 1,
                    "title": "Jobid",
                    "type": "string"
                  }
                },
                "required": ["jobId"],
                "title": "Input",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "description": "completed once the transcript is ready; processing while it is still running",
                      "title": "Status",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "Pass this to audio-transcribe-result.get to poll",
                      "title": "Jobid",
                      "type": "string"
                    },
                    "text": {
                      "default": null,
                      "description": "Full transcript; null until completed",
                      "title": "Text",
                      "type": "string",
                      "nullable": true
                    },
                    "segments": {
                      "default": null,
                      "description": "Time-coded segments; null until completed",
                      "title": "Segments",
                      "items": {
                        "properties": {
                          "start": {
                            "description": "Segment start, seconds from the beginning",
                            "title": "Start",
                            "type": "number"
                          },
                          "end": {
                            "description": "Segment end, seconds from the beginning",
                            "title": "End",
                            "type": "number"
                          },
                          "text": {
                            "title": "Text",
                            "type": "string"
                          }
                        },
                        "required": ["start", "end", "text"],
                        "title": "Segment",
                        "type": "object"
                      },
                      "type": "array",
                      "nullable": true
                    },
                    "language": {
                      "default": null,
                      "description": "Detected (or forced) language code; null until completed",
                      "title": "Language",
                      "type": "string",
                      "nullable": true
                    },
                    "durationSec": {
                      "default": null,
                      "description": "Audio duration in seconds; null until completed",
                      "title": "Durationsec",
                      "type": "number",
                      "nullable": true
                    },
                    "progress": {
                      "default": 0,
                      "description": "Progress percentage, 0-100",
                      "title": "Progress",
                      "type": "integer"
                    },
                    "pollAfterSec": {
                      "default": null,
                      "description": "Seconds to wait before polling again; null once completed",
                      "title": "Pollaftersec",
                      "type": "integer",
                      "nullable": true
                    }
                  },
                  "required": ["status", "jobId"],
                  "title": "Transcript",
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audio-transcribe.post": {
      "post": {
        "operationId": "audio_transcribe_post",
        "summary": "Transcribe Audio or Video",
        "description": "Transcribe speech from an audio or video URL, with time-coded segments and automatic language detection. Short clips come back in the same call; longer ones return a jobId to poll with audio-transcribe-result. GPU Whisper, up to two hours per file.",
        "tags": ["Media", "audio", "video", "transcribe", "speech", "whisper", "subtitles"],
        "x-upapi-unit-weight": 10,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "url": {
                    "description": "Public URL of the audio or video to transcribe (e.g. https://example.com/interview.mp3). Up to 2 hours long.",
                    "format": "uri",
                    "maxLength": 2048,
                    "minLength": 1,
                    "title": "Url",
                    "type": "string",
                    "x-upapi-upload": true
                  },
                  "language": {
                    "default": null,
                    "description": "Spoken-language hint as an ISO code (e.g. en). Omit to auto-detect.",
                    "title": "Language",
                    "maxLength": 16,
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": ["url"],
                "title": "Input",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "description": "completed once the transcript is ready; processing while it is still running",
                      "title": "Status",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "Pass this to audio-transcribe-result.get to poll",
                      "title": "Jobid",
                      "type": "string"
                    },
                    "text": {
                      "default": null,
                      "description": "Full transcript; null until completed",
                      "title": "Text",
                      "type": "string",
                      "nullable": true
                    },
                    "segments": {
                      "default": null,
                      "description": "Time-coded segments; null until completed",
                      "title": "Segments",
                      "items": {
                        "properties": {
                          "start": {
                            "description": "Segment start, seconds from the beginning",
                            "title": "Start",
                            "type": "number"
                          },
                          "end": {
                            "description": "Segment end, seconds from the beginning",
                            "title": "End",
                            "type": "number"
                          },
                          "text": {
                            "title": "Text",
                            "type": "string"
                          }
                        },
                        "required": ["start", "end", "text"],
                        "title": "Segment",
                        "type": "object"
                      },
                      "type": "array",
                      "nullable": true
                    },
                    "language": {
                      "default": null,
                      "description": "Detected (or forced) language code; null until completed",
                      "title": "Language",
                      "type": "string",
                      "nullable": true
                    },
                    "durationSec": {
                      "default": null,
                      "description": "Audio duration in seconds; null until completed",
                      "title": "Durationsec",
                      "type": "number",
                      "nullable": true
                    },
                    "progress": {
                      "default": 0,
                      "description": "Progress percentage, 0-100",
                      "title": "Progress",
                      "type": "integer"
                    },
                    "pollAfterSec": {
                      "default": null,
                      "description": "Seconds to wait before polling again; null once completed",
                      "title": "Pollaftersec",
                      "type": "integer",
                      "nullable": true
                    }
                  },
                  "required": ["status", "jobId"],
                  "title": "Transcript",
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bluesky-profile.get": {
      "post": {
        "operationId": "bluesky_profile_get",
        "summary": "Get Bluesky Profile",
        "description": "Fetch a Bluesky (AT Protocol) profile by handle or DID. Returns display name, description, avatar/banner, follower and post counts, labels, and DID. Uses the public AppView - no auth required.",
        "tags": ["Social Media", "bluesky", "atproto", "social", "python"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "handle": {
                    "description": "Bluesky handle (e.g. bsky.app) or DID (did:plc:...)",
                    "maxLength": 253,
                    "minLength": 1,
                    "title": "Handle",
                    "type": "string"
                  }
                },
                "required": ["handle"],
                "title": "Input",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "did": {
                      "title": "Did",
                      "type": "string"
                    },
                    "handle": {
                      "title": "Handle",
                      "type": "string"
                    },
                    "displayName": {
                      "title": "Displayname",
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "title": "Description",
                      "type": "string",
                      "nullable": true
                    },
                    "avatar": {
                      "title": "Avatar",
                      "type": "string",
                      "nullable": true
                    },
                    "banner": {
                      "title": "Banner",
                      "type": "string",
                      "nullable": true
                    },
                    "followersCount": {
                      "title": "Followerscount",
                      "type": "integer"
                    },
                    "followsCount": {
                      "title": "Followscount",
                      "type": "integer"
                    },
                    "postsCount": {
                      "title": "Postscount",
                      "type": "integer"
                    },
                    "indexedAt": {
                      "title": "Indexedat",
                      "type": "string",
                      "nullable": true
                    },
                    "associated": {
                      "title": "Associated",
                      "additionalProperties": true,
                      "type": "object",
                      "nullable": true
                    },
                    "labels": {
                      "items": {
                        "type": "string"
                      },
                      "title": "Labels",
                      "type": "array"
                    },
                    "fetchedAt": {
                      "title": "Fetchedat",
                      "type": "string"
                    }
                  },
                  "required": [
                    "did",
                    "handle",
                    "displayName",
                    "description",
                    "avatar",
                    "banner",
                    "followersCount",
                    "followsCount",
                    "postsCount",
                    "indexedAt",
                    "associated",
                    "labels",
                    "fetchedAt"
                  ],
                  "title": "Output",
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Two DIFFERENT conditions share this status, told apart by `error.code`. `RATE_LIMITED` — the per-minute burst window is full; it refills on its own, so back off and retry (`Retry-After` is seconds, typically 60) and nothing was spent. `QUOTA_EXCEEDED` — a BUDGET is gone: the monthly weighted-unit quota, a trial's unit cap, or the plan's hosted-function compute seconds. Retrying on a short backoff will never succeed; `Retry-After` points at the real refill (the next UTC month, or the end of the trial), and upgrading the plan is usually the intended fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data store temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Request timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chatous-check-session.get": {
      "post": {
        "operationId": "chatous_check_session_get",
        "summary": "Chatous Check Session",
        "description": "Check whether a Chatous connect.sid cookie is still accepted. Returns Chatous's own verdict (0 authenticated, 1111 anonymous or expired) so an expired session is reported as data rather than as a failure.",
        "tags": ["Social Media", "chatous", "session", "auth"],
        "x-upapi-unit-weight": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "connectSid": {
                    "description": "The account's `connect.sid` cookie value, as set on chatous.com when the account signed in.",
                    "minLength": 1,
                    "title": "Connectsid",
                    "type": "string"
                  },
                  "proxyUrl": {
                    "default": null,
                    "description": "Optional proxy URL to send this request through. Omit to call Chatous directly. Pass the exit the account normally uses if you keep one per account.",
                    "title": "Proxyurl",
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": ["connectSid"],
                "title": "Input",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "valid": {
                      "description": "True when Chatous still accepts this connectSid.",
                      "title": "Valid",
                      "type": "boolean"
                    },
                    "returnCode": {
                      "description": "Chatous's own verdict: 0 = authenticated, 1111 = anonymous or expired. Returned so a caller can tell those two apart from any future third value.",
                      "title": "Returncode",
                      "type": "integer"
                    },
                    "checkedAt": {
                      "title": "Checkedat",
                      "type": "string"
                    },
                    "elapsedMs": {
                      "title": "Elapsedms",
                      "type": "integer"
                    }
                  },
                  "required": ["valid", "returnCode", "checkedAt", "elapsedMs"],
                  "title": "Output",
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN — the key is valid but not allowed to make this call. Three causes: the key belongs to a different organization than the one in the path; the key was minted without the scope this endpoint requires (the message names the missing scope); or the operation is not included in the organization's plan — a plan gate, which no retry clears. Upgrade the plan or mint a key with the right scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown marketplace API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Missing required field(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
[...]
